<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.tyleryasaka.apps.nicenotes"
    android:versionCode="6"
    android:versionName="1.04">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Notes"
            android:label="@string/notes" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Edit"
            android:label="@string/title_activity_edit"
            android:parentActivityName="me.tyleryasaka.apps.nicenotes.Notes"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/settings"
            android:parentActivityName="me.tyleryasaka.apps.nicenotes.Notes"
            android:noHistory="true">
        </activity>
    </application>

</manifest>
